body {
    font-family: 'Fjalla One', sans-serif;
    background-image: url("https://papers.co/wallpaper/papers.co-vy12-simple-white-pattern-background-29-wallpaper.jpg");
    /* background-image: url("https://www.birchbox.com/images/uploads/B_Sept_Corebox_Wallpaper_DESKTOP_1920x1200.jpg"); */
}


h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    border: 1px solid black;
    background-color: rgb(231, 181, 123);
    box-shadow: 0 8px 6px -6px black;
}

h4 {
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 20px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 8px 6px -6px black;
}

.answer {
    margin: auto;
    position: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    width: 20vh;
    height: 10vh;
    border: 1px solid black;
    background-color: rgb(164, 214, 176);
    font-family: 'Fjalla One', sans-serif;
    font-size: larger;
    box-shadow: 0 8px 6px -6px black;
    cursor: pointer;
} 

.score {
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#question-box {
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: white;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    box-shadow: 0 8px 6px -6px black;
}
    


